/* divs */

body {
    max-width: 800px;
    margin: auto;
}

.login_container {
    border-radius: 10px;
    border: 1px solid green;
    padding: 20px;
    margin: auto auto;
}

/* login/register */ 
.login_grid {
    width: 50%;
    display: grid;
    grid-template-columns: 20% 50% 30%;
}

.login_grid .grid-item{
    padding: 5px;
    text-align: left;
}

/* buttons */

.btn {
    border: none;
    color: white;
    padding: 5px;
}

.btn-primary {
    background-color: #008CBA; /* Blue */
}

.btn-danger {
}


