/* divs */

body {
    max-width: 800px;
    margin: auto;
}

.login_container {
    border-radius: 10px;
    border: 1px solid green;
    padding: 20px;
    margin: auto auto;
    width: 50%;
}

/* login/register */ 
.login_container .login_grid {
    display: grid;
    grid-template-columns: 20% 50% 30%;
}

.login_container .login_grid .grid-item {
    padding: 5px;
    text-align: left;
}

.logged_in_container {
    text-align: right;
}

/* buttons */

.btn {
    border: none;
    color: white;
    padding: 5px;
}

.btn-primary {
    background-color: #008CBA;
}

.btn-danger {
    background-color: #f44336;
}


